name: ci

on:
  push:
    branches: master

jobs:

    build-busybox:
      runs-on: ubuntu-latest
      steps:
        - name: checkout
          uses: actions/checkout@v2
        - name: build
          uses: docker/build-push-action@v1
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
            path: ./
            dockerfile: ./Dockerfile
            registry: docker.io
            repository: pilgrim2go/busybox
            tags: latest

        -
          name: Image digest
          run: echo ${{ steps.docker_build.outputs.digest }}
        - name: Webhook
          uses: joelwmale/webhook-action@master
          with:
            url: https://ae465b62d315.ngrok.io/hooks/github-build-webhook
            headers: '{"repository": "joelwmale/webhook-action"}'
            body: '{"event": "deployment", "repository": "joelwmale/webhook-action"}'        
